@import url("https://fonts.cdnfonts.com/css/br-firma?styles=81213,81217,81207,81206");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "BR Firma", sans-serif;
  list-style-type: none;
  scroll-behavior: smooth;
}

body {
  background-color: rgba(204, 204, 255, 0.2509803922);
}

a {
  color: white;
}

.ContainerNav {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.5rem;
  padding-bottom: 1.3rem;
  padding-inline: 1.4rem;
}
.ContainerNav .Logo {
  width: 43px;
}
.ContainerNav .Logo img {
  width: 100%;
  height: auto;
}

.Hero {
  background-color: white;
  margin-top: -0.7rem;
  padding-inline: 1.4rem;
  padding-block: 1rem;
}
.Hero .HeroText h1 {
  font-size: 2.6rem;
  margin-top: 0.4rem;
  margin-bottom: 1.4rem;
  color: #805ca5;
  font-weight: bolder;
  line-height: 2.6rem;
}
.Hero .HeroText p {
  color: #1e2027;
  margin-top: -0.5rem;
  margin-bottom: 0.9rem;
  font-weight: light;
  font-size: 1.5rem;
  line-height: 1.92rem;
}
.Hero .HeroText p .Bold {
  font-weight: bolder;
  color: black;
}
.Hero .HeroBtn {
  background-image: linear-gradient(275deg, #805ca5 54.08%, #4f92ce 122.01%);
  color: white;
  outline: none;
  border-radius: 0.32rem;
  font-weight: 600;
  margin-block: 0.1rem;
  transition: 0.4s ease-in-out;
  padding-block: 1rem;
}
.Hero button.HeroBtn {
  margin-bottom: 1rem;
  padding-block: 0.9rem;
  padding-inline: 1rem;
  background-color: #805ca5;
  outline: none;
  border: none;
  transition: 0.4s ease-in-out;
}
.Hero button.HeroBtn a {
  font-size: 1rem;
}
.Hero button.HeroBtn:hover {
  cursor: pointer;
  background-image: linear-gradient(275deg, rgba(79, 147, 206, 0.3450980392) 122.01%, rgba(129, 92, 165, 0.4) 54.08%);
}

.HiddenImg {
  display: none;
}

.CardContainer {
  padding-inline: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  padding-top: 1.7rem;
  padding-bottom: 2.4rem;
  margin-top: -1.2rem;
  background-color: white;
}
.CardContainer .CardOne {
  margin-top: -0.5rem;
}
.CardContainer .Card {
  border: 2px solid #ccf;
  border-radius: 1.2rem;
  background-color: rgba(204, 204, 255, 0.2509803922);
  padding: 0.8rem;
}
.CardContainer .Card .RoundedBg,
.CardContainer .Card .RoundedBg2,
.CardContainer .Card .RoundedBg3,
.CardContainer .Card .RoundedBg4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 0.5rem;
}
.CardContainer .Card .RoundedBg .EllipseImg,
.CardContainer .Card .RoundedBg2 .EllipseImg,
.CardContainer .Card .RoundedBg3 .EllipseImg,
.CardContainer .Card .RoundedBg4 .EllipseImg {
  width: 4rem;
}
.CardContainer .Card .RoundedBg .EllipseImg2,
.CardContainer .Card .RoundedBg2 .EllipseImg2,
.CardContainer .Card .RoundedBg3 .EllipseImg2,
.CardContainer .Card .RoundedBg4 .EllipseImg2 {
  width: 4.1rem;
}
.CardContainer .Card .RoundedBg .EllipseImg3,
.CardContainer .Card .RoundedBg2 .EllipseImg3,
.CardContainer .Card .RoundedBg3 .EllipseImg3,
.CardContainer .Card .RoundedBg4 .EllipseImg3 {
  width: 4.3rem;
}
.CardContainer .Card .RoundedBg .EllipseImg4,
.CardContainer .Card .RoundedBg2 .EllipseImg4,
.CardContainer .Card .RoundedBg3 .EllipseImg4,
.CardContainer .Card .RoundedBg4 .EllipseImg4 {
  width: 4.4rem;
}
.CardContainer .Card .CardInternship,
.CardContainer .Card .CardMentorship,
.CardContainer .Card .CvIcon,
.CardContainer .Card .ProjectIcon {
  padding: 2rem;
  position: absolute;
  margin-inline: auto;
  display: block;
}
.CardContainer .CardHeading {
  font-size: 1.1rem;
  color: #37014f;
  text-align: center;
  letter-spacing: 0.01rem;
}
.CardContainer .CardSummary {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0.3rem;
  margin-inline: auto;
  line-height: 1.05rem;
  color: rgba(51, 51, 51, 0.5019607843);
  font-weight: 400;
}

.TestimonialHeadings {
  padding-inline: 1.4rem;
  padding-block: 1rem;
  background-color: #805ca5;
}
.TestimonialHeadings .FirstHeading {
  color: #f0c20c;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1.2rem;
  margin-bottom: -0.3rem;
  letter-spacing: 0.01rem;
}
.TestimonialHeadings .SecondHeading {
  color: white;
  line-height: 1.8rem;
  font-weight: 700;
  text-align: center;
  font-size: 1.4rem;
  margin-inline: auto;
  margin-top: 0.7rem;
  margin-bottom: 0.95rem;
}

.Testimonial {
  background-color: white;
  padding-block: 1rem;
  padding-inline: 1.45rem;
  font-weight: 500;
  margin-bottom: 1.3rem;
  border-radius: 1.2rem;
}
.Testimonial p {
  color: #333333;
  font-size: 0.75rem;
  line-height: 1.14rem;
  word-spacing: 0.03rem;
  letter-spacing: 0.015rem;
}
.Testimonial img {
  width: 80px;
  margin-bottom: 0.1rem;
}
.Testimonial .Witness {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.Testimonial .Witness .ImgContainer {
  background-color: #f0c20c;
  height: 30px;
  width: 30px;
  border-radius: 0.2rem;
}
.Testimonial .Greetings {
  margin-bottom: 0.7rem;
}
.Testimonial .MainText {
  margin-bottom: 0.7rem;
}
.Testimonial .Name {
  color: #333333;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
.Testimonial .Stack {
  color: rgba(51, 51, 51, 0.5019607843);
}

.CoursesSection {
  background-color: rgba(204, 204, 255, 0.2509803922);
  padding-block: 1.5rem;
}

.CoursesHeadings {
  padding-top: 0;
  width: 70%;
  margin-inline: auto;
}
.CoursesHeadings .HeadingOne {
  color: #4f92ce;
  font-size: 1.3rem;
  text-align: center;
  padding-block: 0.5rem;
}
.CoursesHeadings .HeadingTwo {
  color: #805ca5;
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.8rem;
  padding-bottom: 1.5rem;
}

.CoursesCard {
  border-radius: 1rem;
  padding-inline: 1.2rem;
  margin-inline: 1.4rem;
  padding-block: 1.2rem;
  background-color: #805ca5;
  margin-bottom: 1.2rem;
}
.CoursesCard .Heading {
  color: #f0c20c;
  font-weight: bolder;
  letter-spacing: 0.06rem;
  margin-block: 0.4rem;
}
.CoursesCard p.Summary {
  color: white;
  line-height: 1.2rem;
  font-weight: lighter;
  font-size: 0.95rem;
  margin-top: 0.75rem;
  margin-bottom: 0.9rem;
}
.CoursesCard .HideOnMobile {
  display: none;
}

.GroupedIcon {
  width: 130px;
}
.GroupedIcon img {
  width: 100%;
}

.Ctas {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.3rem;
}
.Ctas button:nth-child(1) {
  background-color: white;
  color: #805ca5;
  border-radius: 0.3rem;
  border: none;
  padding-inline: 0.9rem;
  padding-block: 0.4rem;
  font-size: 0.9rem;
  font-weight: bolder;
  transition: 0.4s ease-in-out;
}
.Ctas button:nth-child(2) {
  border-radius: 0.3rem;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding-block: 0.4rem;
  padding-inline: 0.9rem;
  transition: 0.4s ease-in-out;
  font-size: 0.9rem;
}
.Ctas button:nth-child(3) {
  border-radius: 0.3rem;
  border: none;
  background-color: transparent;
  color: #f0c20c;
  padding-block: 0.4rem;
  padding-inline: 0.9rem;
  font-size: 0.9rem;
  margin-bottom: -1rem;
}

button:nth-child(1):hover {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

button:nth-child(2):hover {
  background-color: white;
  color: #805ca5;
}

.InstructorsSection {
  margin-top: 1rem;
  padding-bottom: 1rem;
}
.InstructorsSection .MainText {
  text-align: justify;
}
.InstructorsSection .HeadingOne {
  text-align: center;
  color: #4f92ce;
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
  margin-top: 1.9rem;
  margin-bottom: 0.4rem;
}
.InstructorsSection .HeadingTwo {
  text-align: center;
  color: #805ca5;
  font-size: 1.7rem;
  width: 70%;
  margin-inline: auto;
  line-height: 1.7rem;
  margin-bottom: 1.1rem;
}
.InstructorsSection .MainText {
  word-spacing: 0.2rem;
  letter-spacing: 0.04rem;
  line-height: 1.4rem;
  padding-inline: 1.4rem;
  margin-bottom: 0.7rem;
  font-weight: lighter;
}

.WrapperMainText .SubText {
  color: #805ca5;
}
.WrapperMainText .HeadingName {
  font-weight: lighter;
  line-height: 1.9rem;
  color: #1e2027;
  font-size: 1.7rem;
  letter-spacing: 0.01rem;
}
.WrapperMainText .HeadingSubtext {
  font-weight: lighter;
  letter-spacing: 0.01rem;
  margin-bottom: 0.6rem;
}

.FooterSection {
  font-family: "BR Firma", sans-serif;
  color: white;
  background-color: #805ca5;
  padding-inline: 1.4rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.FooterSection .FooterLogo {
  width: 65px;
  height: auto;
}
.FooterSection .FooterLogo img {
  width: 100%;
  margin-bottom: 0.5rem;
}
.FooterSection .FooterNav ul {
  text-align: left;
  margin-top: 0.9em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  margin-bottom: 1.9rem;
}
.FooterSection .FooterNav ul li a {
  color: white;
  font-size: 0.9rem;
}
.FooterSection .ContactAddress {
  font-size: 0.9rem;
  padding-block: 1rem;
  line-height: 1.25rem;
}
.FooterSection .ContactAddress p {
  letter-spacing: 0.015rem;
  font-weight: lighter;
}
.FooterSection p .Phone,
.FooterSection .Mail a {
  color: white;
}
.FooterSection .Newsletter p:first-child {
  color: white;
  letter-spacing: 0.02rem;
  font-size: 14px;
}
.FooterSection .Newsletter input {
  position: relative;
  padding-inline: 0.9rem;
  padding-block: 0.85rem;
  width: 95%;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  margin-block: 0.5rem;
}
.FooterSection .Newsletter input:value {
  padding-inline: 1rem;
  padding-block: 0.4rem;
  border-radius: 0.4rem;
  color: white;
  outline: none;
}

.SubscribeBtn {
  position: absolute;
  right: 14%;
  background-image: linear-gradient(275deg, #805ca5 54.08%, #4f92ce 122.01%);
  color: white;
  outline: none;
  border: none;
  border-radius: 0.32rem;
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 0.9rem;
  padding-block: 0.4rem;
  padding-inline: 0.6rem;
  transition: 0.4s ease-in-out;
}

.SubscribeBtn:hover {
  background-image: linear-gradient(275deg, rgba(79, 147, 206, 0.3450980392) 122.01%, rgba(129, 92, 165, 0.4) 54.08%);
}

.Socials {
  width: 120px;
}
.Socials img {
  width: 100%;
  height: auto;
}

.Copyright {
  margin-top: 2rem;
}
.Copyright p {
  text-align: center;
  font-weight: normal;
  font-family: "BR Firma", sans-serif;
  font-size: 0.85rem;
  border-top: 1px solid white;
  padding-top: 0.8rem;
  padding-bottom: 0.3rem;
}

@media screen and (min-width: 425px) and (max-width: 650px) {
  .Hero .HeroText h1 {
    font-size: 3.2rem;
    line-height: 3.2rem;
  }
  .Hero .HeroText p {
    width: 80%;
    line-height: 1.8rem;
    padding-block: 0.1rem;
  }
  .Hero .HeroText .HeroBtn a {
    font-size: 1.2rem;
  }
  .CardContainer .CardSummary {
    font-size: 0.9rem;
    line-height: 1.3rem;
    padding-bottom: 0.28rem;
    margin-inline: auto;
  }
  .TestimonialHeadings .FirstHeading {
    font-size: 1rem;
    letter-spacing: 0.09rem;
  }
  .TestimonialHeadings .SecondHeading {
    font-size: 1.9rem;
    width: 90%;
    line-height: 2rem;
    margin-inline: auto;
    padding-bottom: 0.7rem;
  }
  .MainTestimonial p.Greetings,
  .MainTestimonial p.MainText {
    font-size: 0.8rem;
    letter-spacing: 0.01;
    word-spacing: 0.2rem;
  }
  .MainTestimonial p.MainText {
    margin-top: -0.1rem;
    word-spacing: 0;
    letter-spacing: 0.04rem;
  }
  .MainTestimonial .Testimonial {
    width: 95%;
    margin-inline: auto;
  }
  .MainTestimonial .Testimonial .Greetings {
    font-size: 1rem;
  }
  .MainTestimonial .Testimonial .MainText {
    font-size: 0.9rem;
    line-height: 1.2rem;
    font-weight: lighter;
  }
  .MainTestimonial .Testimonial img {
    width: 70px;
  }
  .MainTestimonial .Ctas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
  }
  .MainTestimonial .Ctas button:nth-child(1),
  .MainTestimonial .Ctas button:nth-child(2),
  .MainTestimonial .Ctas button:nth-child(3) {
    height: 2.8rem;
    font-size: 0.75rem;
    padding-inline: 1rem;
  }
  .MainTestimonial .CoursesCard {
    width: 90%;
    margin-inline: auto;
  }
  .MainTestimonial .Wrapper {
    width: 80%;
  }
  .MainTestimonial .Wrapper .ImgWrapper img {
    width: 100%;
  }
  .CoursesHeadings {
    width: 100%;
  }
  .CoursesHeadings .HeadingOne {
    font-size: 1.5rem;
  }
  .CoursesHeadings .HeadingTwo {
    width: 70%;
    margin-inline: auto;
    margin-top: -0.1rem;
    font-size: 2.2rem;
    line-height: 2rem;
  }
  .GroupedIcon {
    width: 10.6rem;
  }
  .GroupedIcon img {
    width: 100%;
  }
  .CoursesCard .Heading {
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0rem;
    margin-top: 0.2rem;
    margin-bottom: -0.5rem;
  }
  .CoursesCard p.Summary {
    font-size: 0.9rem;
    font-weight: lighter;
    line-height: 1.2rem;
    letter-spacing: 0.01rem;
  }
  .Ctas {
    flex-direction: row;
    gap: 1rem;
  }
  .Ctas button:nth-child(1) {
    padding-inline: 0;
    padding-block: 0.6rem;
    font-size: 0.75rem;
    width: 15rem;
  }
  .Ctas button:nth-child(2) {
    width: 18rem;
    font-size: 0.8rem;
    padding-block: 0.55rem;
    padding-inline: 0;
    margin-right: -1.3rem;
    font-weight: bolder;
  }
  .Ctas button:nth-child(3) {
    width: 10rem;
    font-size: 0.8rem;
    margin-left: 0.8rem;
    padding-block: 0.6rem;
    padding-inline: 0;
  }
  .SubscribeBtn {
    right: 11%;
  }
}
@media screen and (max-width: 650px) {
  .ContainerNav .NavItems {
    display: none;
  }
}
@media screen and (min-width: 651px) and (max-width: 760px) {
  .ContainerNav {
    padding-inline: 1.8rem;
  }
  .ContainerNav .NavItems {
    display: none;
  }
  .Hero {
    padding-inline: 1.8rem;
  }
  .Hero .HeroText h1 {
    width: 80%;
    font-size: 3.3rem;
    line-height: 3.4rem;
  }
  .Hero .HeroText p {
    font-size: 1.65rem;
    width: 85%;
  }
  .Hero .HeroText .HeroBtn {
    padding-inline: 1.9rem;
    padding-block: 0.95rem;
  }
  .CardContainer {
    padding-inline: 1.8rem;
  }
  .CardContainer .CardHeading {
    font-size: 1.3rem;
  }
  .CardContainer .CardSummary {
    font-size: 0.9rem;
    line-height: 1.3rem;
    width: 100%;
  }
  .TestimonialHeadings {
    padding-inline: 1.8rem;
  }
  .TestimonialHeadings .FirstHeading {
    font-size: 1.3rem;
  }
  .TestimonialHeadings .SecondHeading {
    font-size: 1.9rem;
    width: 65%;
    margin-inline: auto;
    line-height: 1.8rem;
  }
  .MainTestimonial p.MainText {
    margin-top: -0.3rem;
    margin-bottom: 0.45rem;
  }
  .Ctas {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0.6rem;
  }
  .Ctas button {
    width: 100%;
  }
  .Ctas button:nth-child(1) {
    padding-block: 0.5rem;
  }
  .Ctas button:nth-child(3) {
    margin-top: -1rem;
    margin-left: 0;
    padding-inline: 0;
    width: 22rem;
  }
  .CoursesSection {
    padding-inline: 0.5rem;
  }
  .CoursesSection .CoursesHeadings .HeadingOne {
    font-size: 1.5rem;
  }
  .CoursesSection .CoursesHeadings .HeadingTwo {
    font-size: 2.2rem;
    width: 70%;
    margin-inline: auto;
    line-height: 2rem;
    margin-top: -0.2rem;
  }
  .CoursesSection p.Summary {
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight: lighter;
    margin-top: -0.1rem;
  }
  .GroupedIcon {
    width: 160px;
    margin-bottom: -0.3rem;
  }
  p.Heading {
    font-size: 1.4rem;
  }
  .Ctas {
    gap: 0.8rem;
  }
  .Ctas button:nth-child(1),
  .Ctas button:nth-child(2) {
    padding-block: 0.5rem;
    padding-inline: 0.3rem;
    font-size: 0.95rem;
  }
  .Ctas button:nth-child(3) {
    margin-left: -1.3rem;
  }
  .InstructorsSection {
    padding-inline: 0.7rem;
  }
  .FooterSection {
    padding-inline: 1.8rem;
  }
  .FooterSection .FooterNav ul {
    gap: 1rem;
    display: flex;
    gap: 0;
  }
  .FooterSection .FooterNav ul li a {
    font-size: 1.2rem;
  }
  .FooterSection .ContactAddress {
    line-height: 1.3rem;
  }
  .FooterSection .ContactAddress p.Address {
    width: 100%;
    letter-spacing: 0.1rem;
    font-size: 1rem;
  }
  .FooterSection .ContactAddress a {
    font-size: 1rem;
  }
  .FooterSection .Newsletter p:first-child {
    font-size: 0.95rem;
  }
  .FooterSection .Newsletter input {
    width: 50%;
    padding-block: 1rem;
  }
  .FooterSection .Socials {
    width: 170px;
  }
  .SubscribeBtn {
    padding-block: 0.6rem;
    right: 50%;
    margin-right: 0.5rem;
  }
}
@media screen and (min-width: 768px) {
  .NavIcon {
    display: none;
    border: 1px solid black;
  }
  .NavItems ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 1.4rem;
  }
  .NavItems ul li {
    color: #333;
    font-weight: normal;
    font-size: 0.8rem;
  }
  .NavItems ul li:hover {
    cursor: pointer;
    background-color: linear-gradient(275deg, #805ca5 54.08%, #4f92ce 122.01%);
  }
  .NavItems ul li:nth-child(4) {
    color: white;
    font-size: 0.85rem;
    border-radius: 0.3rem;
    padding-inline: 0.9rem;
    padding-block: 0.7rem;
    align-items: center;
    background-image: linear-gradient(275deg, #805ca5 54.08%, #4f92ce 122.01%);
  }
}
@media screen and (min-width: 761px) and (max-width: 955px) {
  .ContainerNav {
    padding-inline: 1.9rem;
  }
  .ContainerNav .logo {
    width: 50px;
    border: 1px solid black;
  }
  .ContainerNav .logo img {
    width: 100%;
    height: auto;
  }
  .Hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
  }
  .Hero .HeroText {
    width: 60%;
  }
  .Hero .HeroText h1 {
    font-size: 3.1rem;
    line-height: 3.1rem;
  }
  .Hero .HeroText .HeroBtn {
    padding-inline: 1.3rem;
    padding-block: 0.8rem;
  }
  .Hero .HeroText .HeroBtn a {
    font-size: 1.2rem;
  }
  .Hero .HeroImg {
    width: 400px;
    margin-top: -2.5rem;
  }
  .Hero .HeroImg .HiddenImg {
    display: block;
    width: 100%;
    height: auto;
  }
  .CardContainer {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: "a b" "c d";
  }
  .CardContainer .CardOne {
    grid-area: a;
  }
  .CardContainer .CardTwo {
    grid-area: b;
  }
  .CardThree {
    grid-area: c;
  }
  .CardFour {
    grid-area: d;
  }
  .TestimonialHeadings .FirstHeading {
    font-size: 1.4rem;
  }
  .TestimonialHeadings .SecondHeading {
    font-size: 1.9rem;
    width: 55%;
    line-height: 2rem;
  }
  .CoursesHeadings .HeadingOne {
    font-size: 1.5rem;
  }
  .CoursesHeadings .HeadingTwo {
    font-size: 1.95rem;
    width: 60%;
    margin-inline: auto;
  }
  .Ctas {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0;
  }
  .Ctas button:nth-child(1) {
    width: 20%;
    padding-block: 0.5rem;
    padding-inline: 0.01rem;
  }
  .Ctas button:nth-child(2) {
    width: 25%;
    margin-right: 17rem;
    margin-left: 0.3rem;
  }
  .Ctas button:nth-child(3) {
    margin-top: -1rem;
  }
  .FooterSection {
    padding-inline: 1.8rem;
  }
  .FooterSection .Footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  .FooterSection .FooterNav ul {
    justify-content: flex-start;
    gap: 2.9rem;
    margin-bottom: 0.9rem;
  }
  .FooterSection .FooterNav .ContactAddress p {
    text-align: justify;
  }
  .FooterSection .Newsletter input {
    width: 100%;
  }
  .FooterSection .Newsletter input::-moz-placeholder {
    font-size: 0.7rem;
  }
  .FooterSection .Newsletter input::placeholder {
    font-size: 0.7rem;
  }
  .FooterSection button.SubscribeBtn {
    right: 5%;
    font-size: 0.6rem;
    margin-top: 1.1rem;
    font-weight: lighter;
    letter-spacing: 0.01rem;
  }
}
@media screen and (min-width: 956px) and (max-width: 1199px) {
  body {
    background-color: white;
  }
  .ContainerNav {
    padding-inline: 3.8rem;
  }
  .Hero {
    margin-inline: 3.8rem;
    margin-top: 2.3rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 0;
    background-color: rgba(204, 204, 255, 0.2509803922);
    border-radius: 0.8rem;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.15);
  }
  .Hero .HeroText {
    width: 50%;
  }
  .Hero .HeroText h1 {
    font-size: 3.65rem;
    line-height: 3.35rem;
  }
  .Hero .HeroText p {
    font-size: 1.5rem;
  }
  .Hero .HeroText .HeroBtn {
    padding-inline: 1.3rem;
    padding-block: 0.8rem;
  }
  .Hero .HeroText .HeroBtn a {
    font-size: 1.2rem;
  }
  .Hero .HeroImg {
    width: 700px;
    margin-top: -4rem;
    margin-right: -5rem;
  }
  .Hero .HeroImg .HiddenImg {
    display: block;
    width: 100%;
    height: auto;
  }
  .CardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-inline: 3.8rem;
  }
  .CardContainer .Card .RoundedBg,
  .CardContainer .Card .RoundedBg2,
  .CardContainer .Card .RoundedBg3,
  .CardContainer .Card .RoundedBg4 {
    padding-block: 0.3rem;
  }
  .CardContainer .Card .RoundedBg .EllipseImg,
  .CardContainer .Card .RoundedBg2 .EllipseImg,
  .CardContainer .Card .RoundedBg3 .EllipseImg,
  .CardContainer .Card .RoundedBg4 .EllipseImg {
    width: 3.4rem;
  }
  .CardContainer .Card .RoundedBg .EllipseImg2,
  .CardContainer .Card .RoundedBg2 .EllipseImg2,
  .CardContainer .Card .RoundedBg3 .EllipseImg2,
  .CardContainer .Card .RoundedBg4 .EllipseImg2 {
    width: 3.5rem;
  }
  .CardContainer .Card .RoundedBg .EllipseImg3,
  .CardContainer .Card .RoundedBg2 .EllipseImg3,
  .CardContainer .Card .RoundedBg3 .EllipseImg3,
  .CardContainer .Card .RoundedBg4 .EllipseImg3 {
    width: 3.5rem;
  }
  .CardContainer .Card .RoundedBg .EllipseImg4,
  .CardContainer .Card .RoundedBg2 .EllipseImg4,
  .CardContainer .Card .RoundedBg3 .EllipseImg4,
  .CardContainer .Card .RoundedBg4 .EllipseImg4 {
    width: 3.3rem;
  }
  .CardContainer .Card .CardInternship,
  .CardContainer .Card .CardMentorship,
  .CardContainer .Card .CvIcon,
  .CardContainer .Card .ProjectIcon {
    padding: 1rem;
    position: absolute;
    margin-inline: auto;
    display: block;
    width: 65px;
  }
  .CardContainer .CardHeading {
    font-size: 0.9rem;
  }
  .CardContainer .CardSummary {
    font-size: 0.7rem;
  }
  .TestimonialHeadings .FirstHeading {
    font-size: 1.2rem;
  }
  .TestimonialHeadings .SecondHeading {
    font-size: 1.7rem;
    width: 60%;
    line-height: 2rem;
  }
  .Testimonial {
    margin-inline: 3.8rem;
  }
  .HeadingOne {
    font-size: 1.6rem;
  }
  .HeadingTwo {
    font-size: 2rem;
    margin-block: -0.25rem;
  }
  .CoursesCard {
    margin-inline: 3.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    padding-block: 0.1rem;
  }
  .CoursesCard .HiddenImage {
    display: none;
  }
  .CoursesCard .HideOnMobile {
    display: block;
  }
  .CoursesCard .Ctas {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0;
  }
  .CoursesCard .Ctas button:nth-child(1) {
    width: 20%;
    padding-block: 0.5rem;
    padding-inline: 0.01rem;
  }
  .CoursesCard .Ctas button:nth-child(2) {
    width: 30%;
    margin-right: 17rem;
    margin-left: 0.3rem;
  }
  .CoursesCard .Ctas button:nth-child(3) {
    margin-top: -1rem;
  }
  .InstructorsSection {
    margin-inline: 3.8rem;
  }
  .InstructorsSection .HeadingOne {
    font-size: 1.3rem;
  }
  .InstructorsSection .HeadingTwo {
    font-size: 2rem;
    margin-top: 0.3rem;
  }
  .FooterSection {
    justify-content: space-evenly;
  }
  .FooterSection .FooterNav {
    margin-left: -3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .FooterSection .FooterNav ul {
    gap: 1.5rem;
    justify-content: flex-start;
  }
  .FooterSection .Newsletter {
    margin-right: 8rem;
    width: 100%;
  }
  .FooterSection .Newsletter p:first-child {
    margin-left: -0.4rem;
  }
  .FooterSection .Newsletter input {
    width: 100%;
    margin-left: -0.6rem;
    margin-block: 0.7rem;
  }
  .FooterSection .Newsletter {
    display: flex;
    flex-direction: column;
    padding-inline: 0.5rem;
  }
  .Footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.3rem;
  }
  button.SubscribeBtn {
    right: 7%;
    padding-block: 0.5rem;
    font-size: 0.5rem;
    margin-top: 1.01rem;
    margin-right: 0.45rem;
    font-weight: lighter;
    letter-spacing: 0.1rem;
  }
  .ContactAddress p {
    line-height: 1.3rem;
    font-weight: lighter;
  }
  .Socials {
    width: 40%;
  }
  .Socials img {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  body {
    background-color: white;
  }
  .ContainerNav {
    padding-inline: 3.8rem;
  }
  .Hero {
    margin-inline: 3.8rem;
    margin-top: 2.3rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 0;
    background-color: rgba(204, 204, 255, 0.2509803922);
    border-radius: 0.8rem;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.15);
  }
  .Hero .HeroText {
    width: 50%;
  }
  .Hero .HeroText h1 {
    width: 90%;
    font-size: 3.8rem;
    line-height: 3.5rem;
  }
  .Hero .HeroText p {
    width: 100%;
    font-size: 1.9rem;
    line-height: 2.1rem;
  }
  .Hero .HeroText .HeroBtn {
    padding-inline: 1.3rem;
    padding-block: 0.8rem;
  }
  .Hero .HeroText .HeroBtn a {
    font-size: 1.2rem;
  }
  .Hero .HeroImg {
    width: 650px;
    margin-top: -4rem;
    margin-right: -5rem;
  }
  .Hero .HeroImg .HiddenImg {
    display: block;
    width: 100%;
    height: auto;
  }
  .CardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-inline: 3.8rem;
  }
  .CardContainer .Card .RoundedBg,
  .CardContainer .Card .RoundedBg2,
  .CardContainer .Card .RoundedBg3,
  .CardContainer .Card .RoundedBg4 {
    padding-block: 0.3rem;
  }
  .CardContainer .Card .RoundedBg .EllipseImg,
  .CardContainer .Card .RoundedBg2 .EllipseImg,
  .CardContainer .Card .RoundedBg3 .EllipseImg,
  .CardContainer .Card .RoundedBg4 .EllipseImg {
    width: 3.4rem;
  }
  .CardContainer .Card .RoundedBg .EllipseImg2,
  .CardContainer .Card .RoundedBg2 .EllipseImg2,
  .CardContainer .Card .RoundedBg3 .EllipseImg2,
  .CardContainer .Card .RoundedBg4 .EllipseImg2 {
    width: 3.5rem;
  }
  .CardContainer .Card .RoundedBg .EllipseImg3,
  .CardContainer .Card .RoundedBg2 .EllipseImg3,
  .CardContainer .Card .RoundedBg3 .EllipseImg3,
  .CardContainer .Card .RoundedBg4 .EllipseImg3 {
    width: 3.5rem;
  }
  .CardContainer .Card .RoundedBg .EllipseImg4,
  .CardContainer .Card .RoundedBg2 .EllipseImg4,
  .CardContainer .Card .RoundedBg3 .EllipseImg4,
  .CardContainer .Card .RoundedBg4 .EllipseImg4 {
    width: 3.3rem;
  }
  .CardContainer .Card .CardInternship,
  .CardContainer .Card .CardMentorship,
  .CardContainer .Card .CvIcon,
  .CardContainer .Card .ProjectIcon {
    padding: 1rem;
    position: absolute;
    margin-inline: auto;
    display: block;
    width: 65px;
  }
  .CardContainer .CardHeading {
    font-size: 0.9rem;
  }
  .CardContainer .CardSummary {
    font-size: 0.7rem;
  }
  .TestimonialHeadings .FirstHeading {
    font-size: 1.2rem;
  }
  .TestimonialHeadings .SecondHeading {
    font-size: 1.7rem;
    width: 60%;
    line-height: 2rem;
  }
  .Testimonial {
    margin-inline: 3.8rem;
  }
  .TestimonialHeadings .SecondHeading {
    width: 50%;
  }
  .HeadingOne {
    font-size: 1.6rem;
  }
  .HeadingTwo {
    font-size: 2rem;
    margin-block: -0.25rem;
  }
  .CoursesCard {
    margin-inline: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    padding-block: 0.3rem;
    padding-inline: 2.5rem;
  }
  .CoursesCard .HiddenImage {
    display: none;
  }
  .CoursesCard .HideOnMobile {
    display: block;
  }
  .CoursesCard .Ctas {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0;
  }
  .CoursesCard .Ctas button:nth-child(1) {
    width: 20%;
    padding-block: 0.5rem;
    padding-inline: 0.01rem;
  }
  .CoursesCard .Ctas button:nth-child(2) {
    width: 22%;
    margin-right: 22rem;
  }
  .CoursesCard .Ctas button:nth-child(3) {
    margin-top: -1rem;
  }
  .InstructorsSection {
    margin-inline: 3.8rem;
  }
  .InstructorsSection .HeadingOne {
    font-size: 1.3rem;
  }
  .InstructorsSection .HeadingTwo {
    font-size: 2rem;
    margin-top: 0.3rem;
  }
  .FooterSection {
    justify-content: space-evenly;
  }
  .FooterSection .FooterNav {
    margin-left: -3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .FooterSection .FooterNav ul {
    gap: 1.5rem;
    justify-content: flex-start;
  }
  .FooterSection .Newsletter {
    margin-right: 8rem;
    width: 100%;
  }
  .FooterSection .Newsletter p:first-child {
    margin-left: -0.4rem;
  }
  .FooterSection .Newsletter input {
    width: 100%;
    margin-left: -0.6rem;
    margin-block: 0.7rem;
  }
  .FooterSection .Newsletter {
    display: flex;
    flex-direction: column;
    padding-inline: 0.5rem;
  }
  .Footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .FooterSection .FooterLogo {
    width: 100px;
  }
  .FooterSection .FooterLogo img {
    width: 100%;
    height: auto;
  }
  button.SubscribeBtn {
    right: 10%;
    font-size: 0.85rem;
    padding-block: 0.4rem;
    padding-inline: 0.6rem;
    margin-top: 1.1rem;
    font-weight: lighter;
  }
  .ContactAddress p {
    line-height: 1.3rem;
    font-weight: lighter;
  }
  .Socials {
    width: 40%;
  }
  .Socials img {
    width: 100%;
  }
  .Copyright p {
    margin-inline: 3.8rem;
  }
}
@media screen and (min-width: 1300px) {
  .Hero .HeroText {
    width: 55%;
  }
  .Hero .HeroText h1 {
    font-size: 4.5rem;
    line-height: 4.6rem;
  }
  .Hero .HeroText p {
    font-size: 2.1rem;
    line-height: 2.3rem;
  }
  .CoursesCard .Ctas {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0;
  }
  .CoursesCard .Ctas button:nth-child(1) {
    width: 20%;
    padding-block: 0.5rem;
    padding-inline: 0.01rem;
  }
  .CoursesCard .Ctas button:nth-child(2) {
    width: 22%;
    margin-right: 25rem;
  }
  .CoursesCard .Ctas button:nth-child(3) {
    margin-top: -1rem;
  }
}
@media (min-width: 1536px) {
  .NaHam {
    max-width: 1536px;
  }
}/*# sourceMappingURL=App.css.map */